h1{
    background-color: rgb(231, 231, 231);
    color:blue;
}
h2{
    background-color: rgb(231, 231, 231);
    color:blue;
}

.real_money {
    background-color: beige;
}

#guitar {
    background-color: gold;
}